.elements {
    max-width: 882px;
    margin: 51px auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 21px 18px;
}

@media (min-width: 600px) and (max-width: 1024px) {
    .elements {
        max-width: 590px;
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: 300px) and (max-width: 599px) {
    .elements {
        max-width: 282px;
        grid-template-columns: auto;
        height: auto;
        margin-top: 36px;
    }
}